<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.usuario}}">
  <ion-content class="padding">
    <img ng-src="img/{{chat.face}}.png" style="width: 64px; height: 64px">
    <p>
      {{chat.mensaje}}
    </p>


  </ion-content>
      <ion-footer-bar keyboard-attach class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="text" placeholder="Mensaje" ng-model="message">
          </label>
          <a class="button" ng-click="enviarMensaje()">
            Enviar
          </a>
  </ion-footer-bar>
       

</ion-view>
