<ion-view view-title="Acerca de..">
  <ion-content class="padding">
  <h1>Contacto</h1>
    <a class="item item-thumbnail-left" href="#">        
    <img ng-src="{{miFoto}}">
    <h2 style="margin:20px 2px 2px 2px">Leandro Baldassarre</h2>
	<p>Inspector de billeteras</p>
    </a>
    <div class="list">
	  <a class="item item-icon-left" ui-sref="email">  
	    <i class="icon ion-email"></i>
	    <h3>lenibaldassarre@gmail.com</h3>
	  </a>
	<a class="item item-icon-left" onclick="window.open('http://www.github.com/dockenzen', '_system', 'location=yes'); return false;" href="#">
    	<i class="icon ion-person-stalker"></i>
    		GitHub: dockenzen
    	<span class="badge badge-assertive">15</span>
  	</a>
	    
	   	</ion-item >
	</div>
  </ion-content>
</ion-view>
