<ion-view view-title="Mejores puntajes">
  <ion-content class="padding">    
      <div class="textoMenuPrin" ng-repeat="puntaje in mejoresPuntajes" >
		<!--<p>{{mejoresPuntajes}}</p>-->

        <h1>Felicitaciones {{puntaje.usuario}} !!</h1>
        <h2>Tuviste un puntaje de {{puntaje.puntaje}}</h2>

            <ol ng-repeat="account in puntaje.pyr">
                <li>{{ account.pregunta }}</li>
                <li>{{ account.respuesta }}</li>
            </ol>
      </div>
  </ion-content>
</ion-view>
