<ion-view view-title="Trivia">
  <ion-content class="padding">
    <center><h1>{{preguntasYrespuestas[1].pregunta}}</h1></center>

    <button class="button button-block button-positive" ng-click="esCorrecta(1)">
    	{{preguntasYrespuestas[1].rta1}}
	</button>

	<button class="button button-block button-positive" ng-click="esCorrecta(2)">
    	{{preguntasYrespuestas[1].rta2}}
	</button>

	<button class="button button-block button-positive" ng-click="esCorrecta(3)">
    	{{preguntasYrespuestas[1].rta3}}
	</button>

  </ion-content>
</ion-view>
