<ion-view view-title="Trivia">
  <ion-content class="padding">
  
  <!--<p style="top:{{altura}}">-->
	<div>
	 <img id="foto" src="{{imagen}}" style="position:absolute;top:{{ancho}};left:{{alto}};">
	</div>
	<!--<div style="float:right;">
	  <p >X : {{a}}</p>
	  <p >Y : {{b}}</p>
	  <p >Z : {{c}}</p>  

<br>
<br>
<br>

	  <p >X : {{alto}}</p>
	  <p >Y : {{ancho}}</p>  

	  <p >iamgenh : {{fotoh}}</p>  
	  <p >iamgenw : {{fotow}}</p>  
	  


	  <p >pantallah : {{scy}}</p>  
	  <p >pantallaw : {{scx}}</p>  
	  
	</div>-->
  </ion-content>
</ion-view>
